* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.registerSection {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.registerSection h1 {
	margin: 20px;
}

.registerSection form {
	width: 100%;
	height: 100%;
	padding-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.registerSection form div {
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	/* justify-content: center;
	align-items: center; */
	margin: 10px 0;
}

label {
	font-weight: 700;
}

input {
	width: 50%;
	height: 2rem;
	border-radius: 10px;
	border: none;
	margin: 5px 0;
	outline: none;
	box-shadow: 0px 0px 2px #777474;
	padding: 0px 10px;
}

.button {
	width: fit-content;
	padding: 5px 10px;
	background: #ff5353;
	color: white;
	border: none;
}

.button:hover {
	background: #811f1f;
}

.pop {
	position: fixed;
	top: 0;
	right: 0;
	margin: 20px;
	color: white;
	padding: 5px 10px;
	background: #ff5353;
	border-radius: 10px;
}
.details_button {
	/* margin: 20px; */
	color: white;
	padding: 5px 10px;
	background: #ff5353;
	border-radius: 10px;
	text-decoration: none;
}
